<po-page-default
  [p-breadcrumb]="breadcrumb"
>

  <po-widget>
    <div class="po-md-12">
      <br>
      <h1>{{ literals?.hello }}, {{ userName }}</h1>
      <br>
      <h2>{{ literals?.welcome }}</h2>
      <br>
    </div>
  </po-widget>

  <po-widget
    [p-primary-label]="literals?.startUsing"
    (p-primary-action)="openExternalLink('https://po-ui.io/guides/getting-started')"
    [p-secondary-label]="literals?.viewGithub"
    (p-secondary-action)="openExternalLink('https://github.com/po-ui')"
  >

    <div class="po-md-12">
      <br>
      <h1><a class="home-link" href="https://po-ui.io/">PO-UI</a></h1>
      <br>
      <h2>{{ literals?.textLibrary}}</h2>
      <br>
      <p>
        {{ literals?.textProject }}
        <a class="home-link" href="https://angular.io/">Angular</a> {{ literals?.and }}
        <a class="home-link" href="https://www.typescriptlang.org">Typescript</a>.
      </p>
    </div>

  </po-widget>

</po-page-default>
